Package: csb
Version: VERSION
Section: misc
Priority: optional
Architecture: all
Depends: python (>=2.5), python-adodb
Maintainer: Shish Moom <shish@shishnet.org>
Description: Curses SQL Browser
 A curses-based browser and editor for SQL databases
